[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Decap CMS admin route
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

# Media uploads
[[headers]]
  for = "/decapcms/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"