---
import Layout from "../components/Layout.astro";
import SkillCard from "../components/SkillCard.astro";
import { getCollection } from "astro:content";

const skills = await getCollection("skills");
---

<Layout title="Skills">
  <div class="min-h-screen pt-32">
    <div class="container">
      <h1 class="text-5xl font-bold mb-12">Skills & Expertise</h1>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6"
      >
        {
          skills.map((skill) => {
            const { icon, name, description, level } = skill.data;
            return <SkillCard skill={{ icon, name, description, level }} animate={true} />;
          })
        }
      </div>
    </div>
  </div>
</Layout>
